<div id="calendar-page">
    <div id="calendar">
        <table>
            <thead>
                <tr id="border-bottom">
                    <td colspan="1" id='previous-month'><i class="fas fa-chevron-left"></i></td>
                    <th id="month-and-year" colspan="5"></th>
                    <td colspan="1" id='next-month'><i class="fas fa-chevron-right"></i></td>
                </tr>
            </thead>

            <tbody>
                <tr class="day-of-week">
                    <td class="Sun">Sun</td>
                    <td class="Mon">Mon</td>
                    <td class="Tue">Tue</td>
                    <td class="Wed">Wed</td>
                    <td class="Thu">Thu</td>
                    <td class="Fri">Fri</td>
                    <td class="Sat">Sat</td>
                </tr>
            </tbody>
            <tbody id="dates"></tbody>
        </table>
        <div id="legends-container">

            <div class="legend current-day" onclick="toToday()">Today</div>
            <div class="legend personal">Scheduled</div>
            <!-- <div class="legend events">Events</div> -->
            <!-- <div class="legend special-days">Speical Days</div> -->
            <div class="legend tbc">Scheduling</div>
        </div>
    </div>

    <!-- create event button!!!!!!!!!!!!!!!!!!!! -->
    <div id="create-schedule" class="hover-btn bottom-right" onclick="showModalCreate()">
        <i class="fas fa-calendar-plus"></i>
    </div>

    <!-- Modal -->
    <div id="myModal-create" class="modal-create" role="dialog">
        <div class="modal-dialog-create">
            <!-- Modal content-->
            <div class="modal-content-create">
                <div class="modal-header-create">
                    <button class="close-modal-create close-modal" data-dismiss="modal-create">&times;</button>
                    <h4 class="modal-title-create">Create Event</h4>
                </div>
                <div class="modal-body-create">
                    <div class="create-container">
                        <div class="create-page-category">Name</div>
                        <input id="eventName" class="create-input-items" type="text" name="create-name"
                            placeholder="Enter event name" required>
                    </div>

                    <div class="create-container">
                        <div class="create-page-category">Invite friend(s)</div>
                        <div class="button-input-container">
                            <i class="fa fa-search createSearchButton" onclick="searchFdsCreate()"></i>
                            <input class="create-input-items input-Fds" type="text" name="create-name"
                                placeholder="Enter name or email">
                        </div>
                    </div>
                    <div class="create-container">

                        <div class="searchFds-results-create">
                            <!-- search result will be displayed here -->
                        </div>
                    </div>

                    <div class="create-container">
                        <div class="create-page-category">Restaurant(s)</div>
                        <div class="button-input-container">
                            <i class="fa fa-search createSearchButton" onclick="searchRestaurantCreate()"></i>
                            <input class="create-input-items input-Restaurants" type="text" name="create-name"
                                placeholder="Enter name or address">
                        </div>
                    </div>
                    <div class="create-container">
                        <div class="searchRestaurant-results-create">
                            <!-- search result will be displayed here -->
                        </div>
                    </div>


                    <div class="create-alert">
                        <!-- alert msg will be display here-->
                    </div>
                    <button class="create-event" onclick="createEventDraft()">
                        Go PICK a Date
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- ----------------------end------------------------------- -->

    <h3>Group Events</h3>
    <div id="latest-events" class="box">
        <div class="box-title">Latest Events</div>
        <!-- <div id="eventA" class="event-container">
            <div class="event-name">Event A</div>
            <div class="event-time">Date<br>Time</div>
        </div>
        <div id="eventB" class="event-container">
            <div class="event-name">Event B</div>
            <div class="event-time">Date<br>Time</div>
        </div>
        <div id="eventC" class="event-container">
            <div class="event-name">Event C</div>
            <div class="event-time">Date<br>Time</div>
        </div> -->
    </div>

    <h3>Personal Schedule</h3>
    <div id="personal-schedule" class="box">
        <div class="box-title">Today</div>
        <!-- <div id="eventA" class="event-container">
            <div class="event-name">Event A</div>
            <div class="event-time">Date<br>Time</div>
        </div>
        <div id="eventB" class="event-container">
            <div class="event-name">Event B</div>
            <div class="event-time">Date<br>Time</div>
        </div>
        <div id="eventC" class="event-container">
            <div class="event-name">Event C</div>
            <div class="event-time">Date<br>Time</div>
        </div> -->
        <textarea onchange="writeSchedule()" placeholder="Enter your event"></textarea>
    </div>
</div>