#calendar-page {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: auto;
}

#calendar{
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    text-align: center;
    flex-direction: column;
}

#latest-events{
    min-height: 50px;
}

#calendar > table > * > tr > * {
    padding: 5px;
    cursor: pointer;
}

.legend {
    border-radius: 15px;
    color: var(--legendText);
    padding: 5px;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
}

.current-day {
    background-color: var(--today);
}

.personal {
    /* border-bottom: 3px solid var(--personal); */
    color: white;
    background-color: var(--personal);
}

.events {
    background-color: var(--events);
}

.special-days {
    background-color: var(--special);
}

.tbc {
    background-color: var(--tbc);
}

.today {
    background-color: var(--today) !important;
    border-radius: 15px;
    color: var(--todayText);
}

.box {
    width: 70vw;
    border-radius: 15px;
    border: 2px solid var(--calendarBoxBorder);
    position: relative;
    /* margin-top: 30px; */
}

.box-title {
    background-color: var(--calendarBoxTitleBack);
    position: absolute;
    top: -9px;
    left: 15px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--calendarBoxTitleText)
}

#personal-schedule > textarea {
    height: 100px;
    width: 100%;
    outline: none;
    border: 0;
    background: none;
    padding: 10px;
    resize: none;
    font-family: inherit;
    color: var(--calendarTextArea)
}


.event-container {
    margin: 5px 0 5px 5px;
    border-radius: 15px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(var(--eventContainerBack), var(--eventContainer));
    cursor: pointer;
}

.event-container > *{
    margin: 0 10px;
}

.event-container:hover > .event-name {
    font-size: 16px;
} 

.event-name {
    font-weight: bold;
    color: var(--eventContent)
}

.event-time {
    font-size: 12px;
    color: var(--eventContent)
}

#legends-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#month-and-year {
    color: var(--calendarText);
}

#previous-month {
    color: var(--calendarText);
}

#next-month {
    color: var(--calendarText);
}

#calendar > table > tbody:nth-child(2) > tr > * {
    color: var(--calendarText);
}

#dates > * {
    color: var(--calendarText);
}



/* modalmodalmodalmodalmodalmodalmodal */
.modal-create {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: var(--calendarCreateModalShadow);
  }
  
/* Modal Content */
.modal-content-create {
  background-color: var(--calendarCreateModalContent);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--calendarCreateModalContentBorder);
  width: 80%;
  height: 70%;
}

/* close Button */
.close-modal {
    color: var(--calendarCreateModalCloseBtnColor);
    float: right;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid;
    background-color:  var(--calendarCreateModalCloseBtnBgColor);
    border-color: white;

}

.close-modal:hover {
    color: white;
    outline: none;
    cursor: pointer;
    background-color: grey;
}

/* create event button */
.create-event {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid;
    background-color:  var(--calendarCreateModalCloseBtnBgColor);
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 5px 10px 5px 10px
}

.create-event:hover {
    background-color: var(--calendarCreateModalInputBottomAndLogo);
    outline: none;
    cursor: pointer;
}

.create-event:focus {
    outline: none;
}

.create-container { 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0 px 10px;
}

.searchFds-results-create {
    /* margin-top: 20px; */
    padding-left: 5px;
}

.result-name-create {
    font-size: 16px;
    color: var(--mainText);
    font-weight: 600;
}


.search-user-bar {
    margin-bottom: 26px;
    display: flex;
    flex-wrap: nowrap; 
    /* justify-content: space-between; */
}


.create-input-items {
    color: var(--mainText);
    background-color: var(--calendarCreateModalInputBgColor);
    border: 0;
    border-bottom: 2px solid var(--calendarCreateModalInputBottomAndLogo);
    height: 20px;
    width: 200px;
    outline: none;
}

.button-input-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.createSearchButton {
    border: none;
    background:none;
    text-align: center;
    color: var(--calendarCreateModalInputBottomAndLogo);
    cursor: pointer;
    font-size: 20px;
    outline: none;
    padding: 0 5px 0 5px
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.search-results-create {
    text-align: end;
}
/* 
.result-container-create {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border: 1px solid #43cdd5;
    padding: 15px;
    border-radius: 15px;
} */

.for-selection:hover {
    cursor: pointer;
    border-left: 1px solid #43cdd5;
}

.for-selection {
    padding: 5px;
    border-left: 1px solid white;
    text-align: left;
    margin-bottom: 10px;
}

.create-page-category {
    margin-bottom: 14px;
    font-size: 18px;
}

.confirmed {
    padding: 5px;
    border: 1px solid #43cdd5;
    border-radius: 15px;
    margin-bottom: 10px;
    /* border-left: 5px solid #43cdd5; */
}

.confirmed:hover {
    cursor: pointer;
    border: 1px solid #E14742;
}

.create-alert {
    display: none;
    background-color: #E14742;
    color: white;
    border-radius: 15px;
    border: 1px solid #D6B656;
    padding: 4px;
    width: max-content;
    margin-bottom: 10px;
}

.scheduling {
    background-color: var(--tbc);
    border-radius: 15px;
    color: white;
}

.scheduled {
    /* border-bottom: solid 3px var(--personal); */
    border-radius: 15px;
    color: white;
    background-color: var(--personal);
}