:root {
    --mainText: Black;
    --menuSignOutButton: #E14742;
    --menuSignOutText: white;
    --profilePicBorder: #43cdd5;
    --panelButton: #43cdd5;
    --background: white;
    --hoverButtonBack: #43cdd5;
    --hoverButtonCol: white;
    --titleBar: grey; 
    --boxShadow: rgba(0, 0, 0, 0.4);
    --nightModeButton: grey;

    --resultContainer: #43cdd5;
    --resultInput: #43cdd5;
    --resultText: black;
    --searchSubmit: #43cdd5;
    --searchInput: white;
    --searchSubmitText: white;
    --checkmark: lightgrey;
    --checkmarkhover: grey;
    --checkmarkConfirmed: #43cdd5;

    --friendsRow: lightgrey;
    --friendsPic: #43cdd5;
    --friendsInviteBack: #43cdd5; 
    --friendsInviteCol: white;
    --friendsName: black;

    --chatRow: lightgrey;
    --chatPic: #43cdd5;
    --chat: black;

    --legendText: white;
    --today: #43cdd5;
    --todayText: white;
    --selected: teal;
    --personal: #629bc4;
    --events: #bb62c4;
    --special: #c48a62;
    --tbc: #6Ac462;

    --over-90: #6Ac462;
    --over-70: #629bc4;
    --over-50: #F8CC46;
    --below-50: #E14742;

    --calendarBoxTitleText: black;
    --calendarBoxBorder: black;
    --calendarBoxTitleBack: white;
    --eventContainer: #f0f0f0;
    --eventContainerBack: white;
    --eventContent: black;
    --calendarText: black;
    --calendarTextArea: black;
    --calendarCreateModalBackground: white;
    --calendarCreateModalShadow: rgba(0, 0, 0, 0.4);
    --calendarCreateModalContent: white;
    --calendarCreateModalContentBorder: grey;
    --calendarCreateModalCloseBtnColor: white;
    --calendarCreateModalCloseBtnBgColor: lightgrey;
    --calendarCreateModalInputBgColor: white;
    --calendarCreateModalInputBottomAndLogo: #43cdd5;

    --fdRequestActionButton: lightgrey;
    --fdRequestAcceptHover: #43cdd5;
    --fdRequestDeclineHover:#E14742;

    --groupChatInputBorder: #43cdd5;
}




[data-theme="dark"] {
    --mainText: white;
    --menuSignOutButton: #E14742;
    --menuSignOutText: white;
    --profilePicBorder: #E14742;
    --panelButton:white;
    --background: black;
    --hoverButtonBack: white;
    --hoverButtonCol: black;
    --titleBar: white; 
    --boxShadow: white;
    --nightModeButton:white;

    --resultContainer: #E14742;
    --resultInput: #E14742;
    --resultText: white;
    --searchSubmit: #E14742;
    --searchSubmitText: white;
    --searchInput: black;
    --checkmark: lightgrey;
    --checkmarkhover: grey;
    --checkmarkConfirmed: #E14742;

    --friendsRow: lightgrey;
    --friendsPic: #E14742;
    --friendsInviteBack:#E14742; 
    --friendsInviteCol: white;
    --friendsName:white;

    --chatRow: lightgrey;
    --chatPic:#E14742;
    --chat: white;

    --legendText: white;
    --today: #E14742;
    --todayText: white;
    --selected: #E14742;
    --personal: #629bc4;
    --events: #bb62c4;
    --special: #c48a62;
    --tbc: #6Ac462;

    --over-90: #6Ac462;
    --over-70: #629bc4;
    --over-50: #F8CC46;
    --below-50: #E14742;

    --calendarBoxTitleText: white;
    --calendarBoxBorder: #E14742;
    --calendarBoxTitleBack:black;
    --eventContainer: black;
    --eventContainerBack: black;
    --eventContent: white;
    --calendarText: white;
    --calendarTextArea: white;
    --calendarCreateModalBackground: black;
    --calendarCreateModalShadow: rgba(255, 255, 255, 0.2);
    --calendarCreateModalContent: black;
    --calendarCreateModalContentBorder: grey;
    --calendarCreateModalCloseBtnColor: white;
    --calendarCreateModalCloseBtnBgColor: black;
    --calendarCreateModalInputBgColor: black;
    --calendarCreateModalInputBottomAndLogo: #e14742;

    --fdRequestActionButton: black;
    --fdRequestAcceptHover: #e14742;
    --fdRequestDeclineHover:grey;

    --groupChatInputBorder: #e14742;
}
/* 
--menuSignOutButton: #E14742;
--menuSignOutText: white;
--profilePicBorder: #43cdd5; */