<div id="events">
    <div class="event-row" onclick="toEvent('1')">
        <div class="event-pic">
            <img src="/pepe.jpg">
        </div>
        <div class="event-content">
            <div class="event-name">
                Random Group
            </div>
            <div class="latest-chat-user">
                USER0
            </div>
            <div class="latest-chat-message">
                message
            </div>
        </div>
        <div class="latest-chat-time">
            18 Nov 2020<br> 11:15AM
        </div>
    </div>
</div>

<!-- <div id="create-event" class="hover-btn bottom-right">
    <i class="fas fa-plus"></i>
</div> -->