#events {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: auto;
    height: 100%;
}

.event-row {
    display: flex;
    height: 40px;
    padding: 10px;
    margin: 0;
    align-items: center;
    border-bottom: solid 1px var(--chatRow);
    cursor: pointer
}

.event-pic{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: solid 3px var(--chatPic);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-pic > img {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.event-content {
    padding: 10px;
    flex: 3;
    font-size: 12px
}

.event-name {
    font-weight: bold;
    font-size: 14px;
    color: var(--chat);
}

/* .latest-chat-user {
    font-size: 12px;
    color: var(--chat);
}

.latest-chat-message {
    font-size: 12px
    color: var(--chat);
} */

.latest-chat-time {
    text-align: right;
    justify-self: flex-end;
    flex: 2;
    font-size: 10px;
    color: var(--chat);
}

.date.voting {
    position: absolute;
    color: #F8CC46;
    border-radius: 30px;
    height: 28px;
}

.voting-panel {
    position: relative;
    height: 60px;
    width: 30px;
    right: -30px;
    top: -35px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
}