<div id="event-page">
    <div id="event-title-bar">
        <div id="event-title-content">
            <div id="event-info">
                <div id="search-bar">
                    <i class="fas fa-user-plus"></i>
                    <input id="searchFrds" type="text" oninput="searchFrds()">
                    <div id="searchFrdsResults"></div>
                </div>
                
                <div id="event-pic">
                    <img src="/pepe.jpg">
                    <form id="change-event-pic">
                        <input type="file" name="event-pic" accept="image/*" onchange="newEventPic()">
                    </form>
                </div>
            </div>
                
            <div class="event-title">
                <div class="user-row">
                    <div class="user-pic"><img src="/user0.jpg"></div>
                    <span>USER0</span>
                </div>
                <div class="user-row">
                    <div class="user-pic"><img src="/user1.jpg"></div>
                    <span>USER1</span>
                </div>
                <div class="user-row">
                    <div class="user-pic"><img src="/user2.jpg"></div>
                    <span>USER2</span>
                </div>
                <!-- <div class="user-row">
                    <div class="user-pic"><img src="/user3.jpg"></div>
                    <span>USER3</span>
                </div>
                <div class="user-row">
                    <div class="user-pic"><img src="/user4.jpg"></div>
                    <span>USER4</span>
                </div> -->
            </div>
        </div>
        <div id="trigger-event-title-btn" class="event-page-title" onclick="triggerEventBar()">
            Event Details <i class="fas fa-angle-down"></i>
        </div>
    </div>

    <div class="slide-container">
        
        <div class="slide vote-date">
            <h1>Vote Date</h1>
            <div id="calendar">
                <table>
                    <thead>
                        <tr id="border-bottom">
                            <td colspan="1" id='previous-month'><i class="fas fa-chevron-left"></i></td>
                            <th id="month-and-year" colspan="5"></th>
                            <td colspan="1" id='next-month'><i class="fas fa-chevron-right"></i></td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="day-of-week">
                            <td class="Sun">Sun</td>
                            <td class="Mon">Mon</td>
                            <td class="Tue">Tue</td>
                            <td class="Wed">Wed</td>
                            <td class="Thu">Thu</td>
                            <td class="Fri">Fri</td>
                            <td class="Sat">Sat</td>
                        </tr>
                    </tbody>
                    <tbody id="dates"></tbody>
                </table>
            </div>
            <div id="vote-date-results">
                
                <!-- <div class="votes-container">
                    <div>Date Option 1</div>
                    <div class="skills over-90">90%</div>
                </div>

                <div class="votes-container">
                    <div>Date Option 2</div>
                    <div class="skills over-70">80%</div>
                </div>

                <div class="votes-container">
                    <div>Date Option 3</div>
                    <div class="skills over-50">65%</div>
                </div>

                <div class="votes-container">
                    <div>Date Option 4</div>
                    <div class="skills below-50">49%</div>
                </div> -->
            </div>
            <div id="legends-container">

                <div class="legend events" style="background-color: #43cdd5;">Available</div>
                <div class="legend events" style="background-color: #e14742;">Unavailable</div>
                <!-- <div class="legend events">Events</div> -->
                <!-- <div class="legend special-days">Speical Days</div> -->
                <i class="fas fa-vote-yea"></i><span>You voted</span>
            </div>
        </div>


        <div class="slide vote-venue">
            <h1>Vote Venue</h1>
            

            <div id="vote-venue-results">
            </div>

            <button id="add-event-venue" onclick="triggerSearchInEvent()">
                Add Venue
            </button>
        </div>

        <div class="slide event-chat">
            <h1>Chats</h1>
            <div id="chat-section">
                <!-- <div class="chat-row" data-id="1">
                    <div class="user-info">
                        <div class="user-name">USER1</div>
                        <div class="user-email">user1@gmail.com</div>
                    </div>
                    <div class="chat-message">
                        <div class="message-content">message 1</div>
                        <div class="message-time">2020/5/23<br>5:23pm</div>
                    </div>
                </div>
                <div class="chat-row" data-id="2">
                    <div class="user-info">
                        <div class="user-name">USER2</div>
                        <div class="user-email">user2@gmail.com</div>
                    </div>
                    <div class="chat-message">
                        <div class="message-content">message 1</div>
                        <div class="message-time">2020/5/24<br>5:24pm</div>
                    </div>
                </div> -->
            </div>
            <form id="chat-form" action="/chat" method="POST">
                <input type="text" name="message" id="chat-input">
                <input type="submit" id="chat-submit" value="Send">
            </form>
        </div>

    </div>
</div>

    <div id="search-in-event" class="search-main-container">
        <div>
            <i class="fas fa-times event-close-add-modal" onclick="closeSearchingDiv()"></i>
            <div class="notification"></div>
            <div class="search-container">
                <div class="search-input-and-button">
                    <button type="submit" class="searchButton" onclick="searchByName()">
                        <i id="restaurant-search " class="fa fa-search"></i>
                    </button>
                    <input id="search-input" type="text" name="search-input" placeholder="Enter restaurant name">
            
                    <div id="advance-search" onclick="showList()">
                    Advance
                    </div>
                    <div class="territory-and-districts no-display">
                    <div class="location">
                        <div class="oneflex">
                        <div class="three-parts">地區</div>
                        </div>
                        <div>
                        <label class="criteria-container">上環
                            <input type="checkbox" name="location" value="上環">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">中環
                            <input type="checkbox" name="location" value="中環">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">旺角
                            <input type="checkbox" name="location" value="旺角">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">尖沙咀
                            <input type="checkbox" name="location" value="尖沙咀">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">元朗
                            <input type="checkbox" name="location" value="元朗">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">荃灣
                            <input type="checkbox" name="location" value="荃灣">
                            <span class="checkmark"></span>
                        </label>
                        </div>
                    </div>
            
                    <div class="location">
                        <div class="oneflex">
                        <div class="three-parts">菜式</div>
                        </div>
                        <div>
                        <label class="criteria-container">日本菜
                            <input type="checkbox" name="dish" value="日本菜">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">Cafe
                            <input type="checkbox" name="dish" value="Cafe">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">火鍋
                            <input type="checkbox" name="dish" value="火鍋">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">酒吧
                            <input type="checkbox" name="dish" value="酒吧">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">西式
                            <input type="checkbox" name="dish" value="西式">
                            <span class="checkmark"></span>
                        </label>
                        <label class="criteria-container">海鮮
                            <input type="checkbox" name="dish" value="海鮮">
                            <span class="checkmark"></span>
                        </label>
                        </div>
                    </div>
                    <button type="submit" class="submit-button no-display" onclick="searchByLocation()">Search</button>
            
                    </div>
                </div>
            
                <div id="search-results">
                    <!-- search result will be displayed here -->
                </div>
            </div>
        </div>
    
    </div>
