#event-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide-container {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    
    height: 100vh;
    width: 100vw;
    
    
}

.slide-container::-webkit-scrollbar {
    display: none;
}

.slide {
    scroll-snap-align: start;
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100%;
    overflow-x: hidden;
} 

/* vvvvvvvv voting pages vvvvvvvv */

.vote-date, .vote-venue{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#vote-date-results, #vote-venue-results {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--calendarBoxBorder);
    height: 30vh;
    width: 70%;
    margin-top: 20px;
    scroll-behavior: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#vote-date-results > *, #vote-venue-results > * {
    box-sizing: border-box;
    
}

/* Container for skill bars */
.votes-container {
  width: 100%; /* Full width */
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.skills-container{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
    border-radius: 10px;
}


.skills {
  text-align: center; /* Right-align text */
  padding-top: 0; /* Add top padding */
  padding-bottom: 0; /* Add bottom padding */
  color: white;
  border-radius: 10px; /* White text color */
  font-size: 10px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills.for {
    background-color: #43cdd5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
} /* Green */
/* .over-70 {background-color: var(--over-70);}
.over-50 {background-color: var(--over-50);} */

.skills.against {
    background-color: var(--below-50);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} /* Dark Grey */

.venue-container {
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.venue-name {
    font-size: 12px;
    font-weight: bold;
}

.venue-address {
    font-size: 12px;
}

.venue-votes-container {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    right: 0;
    left: 0;
}

.venue-vote {
    width: 100%;
    margin: 0 5px;
}

.fa-thumbs-up.venue{
    color: #43cdd5;
    font-size: 16px;
    cursor: pointer;
}

.fa-thumbs-down.venue{
    color: var(--below-50);
    font-size: 16px;
    cursor: pointer;
}

/* vvvvvvvv chat page */

.slide.event-chat {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: calc(100vh - 185px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(67, 205, 213, 0.1);
}

.chat-title {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.chat-title > * > .user-pic {
    border-radius: 100px;
    border: solid 3px  var(--chatPic);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-title > * > .user-pic > img {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.chat-title > .user-row {
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: 10px 0;
    align-items: center;
}

.chat-title > .user-row > span {
    font-weight: normal;
    font-size: 14px;
}

#chat-form {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(67, 205, 213, 0.1);
    bottom: 0;
    padding: 5px;
}

#chat-form > * {
    border-radius: 30px;
    height: 18px;
    border: 1px solid var(--groupChatInputBorder);
    margin: 0 5px;
    outline: none;
}

#chat-submit {
    color: white;
    background-color: var(--groupChatInputBorder);
    border-radius: 30px;
    height: 18px;
    border: 1px solid var(--groupChatInputBorder);
    margin: 0 5px;
    outline: none;
}

#chat-input {
    width: 80%;
}

/* ^^^^ chat page */

/* vvvvvv title bar */

#event-title-bar{
    position: absolute;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: calc(100% - 25px);
    padding: 0;
    /* box-shadow: 0 3px 3px var(--boxShadow); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

#event-title-bar.active{
    /* -webkit-transform: translate(0%, 0px); */
    transform: translate(0px, calc(100% - 25px));
    transition: all 0.2s ease-in-out;
}

#event-title-content {
    height: fit-content;
    width: 100%;
    background-color: teal;
    /* background-color: #629bc4; */
    color: white;
    padding-bottom: 10px;
}
/* 
#event-title-content > * > p {
    text-align: center;
} */

#trigger-event-title-btn {
    height: 25px;
    background-color: teal;
    /* background-color: #629bc4; */
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 15px;
}

.user-row > span {
    font-weight: normal;
    font-size: 14px;
}

.event-title > * > .user-pic {
    border-radius: 100px;
    border: solid 3px  teal;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-title > * > .user-pic > img {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.slide.vote-venue > * > .search-container{
    margin-top: 0;
}

#event-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

#event-info > * {
    margin: 5px;
}


#event-pic{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: solid 3px var(--selected);
    display: flex;
    justify-content: center;
    align-items: center;
}

#event-pic > img {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

#event-pic > form {
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#event-pic > form > input {
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#search-in-event {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--calendarCreateModalShadow);
}

#search-in-event.active{
    display: flex;
    z-index: 5;
}

#search-in-event > div{
    position: relative;
    background-color: var(--calendarCreateModalBackground);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#search-in-event > div > * > #search-results{
    width: auto;
    max-height: 35vh;
    overflow-y: auto;
}

.chat-row {
    display: flex;
    height: auto;
    width: fit-content;
    max-width: 60%;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 8px;
    border-radius: 15px;
    background-color: rgba(67, 205, 213);
    /* color: white; */
    border: 1px solid #43cdd5;
    /* float: right; */
    align-self: flex-start;
}


.chat-row-self {
    display: flex;
    height: auto;
    width: fit-content;
    max-width: 60%;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 15px;
    background-color: teal;
    /* color: white; */
    border: 1px solid #43cdd5;
    /* float: right; */
    align-self: flex-end
}

.chat-time {
    word-wrap: break-word;
    margin-left: 20px;
    font-size: 10px;
    color: white;
}

.chat-name {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.chat-email {
    font-size: 10px;
    color: white;
}

.chat-content {
    margin-top: 5px;
    color: white;
    word-wrap: break-word;
}



#searchFrdsResults {
    padding-left: 10px;
}

#searchFrdsResults > span {
    padding-left: 5px
}


/* .chat-row {
    display: flex;
    flex-direction: column;
    width: 100vw;
     height: 40px; 
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer
}

.chat-row > .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    justify-content: space-between;
}

.chat-row > .user-info > .name-and-email {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 2;
}

.chat-row > .user-info > div > .user-name {
    font-weight: bold;
    font-size: 14px;
    color: var(--panelButton);
}

.chat-row > .user-info > div > .user-email {
    font-size: 10px;
    color: silver;
}


.chat-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    padding-left: 10px;
    min-width: 65%;
}

.message-content {
    width:50%;
}

.message-time {
    font-size: 12px;
    flex: 1;
    text-align: right;
} */
.voted {
    background-color: var(--special);
    border-radius: 15px;
    color: white;
}

#search-bar {
    display: flex;
    flex-direction: row;
}


#event-info > * >i {
    cursor: pointer;
}

#searchFrds {
    /* background-color: #629bc4; */
    background-color: teal;
    border: 0;
    border-bottom: 3px solid white;
    color: white;
    font-family: inherit;
    outline: none;
    font-size: 16px;
    white-space: normal;
    width: 20vw;
}



#searchFrdsResults > span:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--chatPic);
}

.result-container[onclick] {
    cursor: pointer;
}

#add-event-venue {
    margin-top: 10px;
    background-color: silver;
    border: 1px solid silver;
    padding: 3px 8px;
    border-radius: 15px;
    color: white;
    outline: none;
}

#add-event-venue:hover {
    background-color: grey;
    cursor: pointer;
}

.event-close-add-modal {
    color: grey;
    cursor: pointer;
}