#friends {
    display: flex;
    flex-direction: column;
}

.friend-row {
    /* display: flex; */
    height: 40px;
    padding: 10px;
    margin: 0;
    align-items: center;
    /* border-bottom: solid 1px var(--friendsRow); */
}

.each-fd-row {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    padding: 0 6px 6px 6px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.friend-pic {
    border-radius: 30px;
    border: solid 3px var(--friendsPic);
    /* min-width: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content

}

.friend-pic > img {
    border-radius: 30px;
    width: 30px;
    height: 30px;
}
/* 
.searchFds-results-create {
    margin-top: 20px;
    padding-left: 5px;
} */

.addFd-result-name {
    font-size: 20px;
    margin-right: 100px;
    font-weight: 600;
    color: var(--resultText);
}

.add-logo {
    margin-right: 100px;
    font-size: 20px;
    color: lightgrey;
}

.fd-logo {
    background-color: var(--fdRequestAcceptHover);
    color: white;
    padding: 5px;
    margin-right: 75px;
    border-radius: 15px;
    font-size: 10px;
}

.one-row:hover > .add-logo {
    color: var(--fdRequestAcceptHover);
}

.one-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px
}

.one-row:hover {
    cursor: pointer;
}

.one-row-friend {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px
}

.friend-name {
    padding: 10px;
    width: 85%;
    font-size: 16px;
    font-weight: bold;
    color: var(--friendsName);

}

.remove-confirm {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.options {
    background-color: var(--calendarCreateModalCloseBtnBgColor);
    border-radius: 15px;
    color: white;
    padding: 3px 5px;
    font-size: 12px;
    align-self: flex-end;
    height: fit-content;
    margin-left: 1px;
    margin-right: 1px
}

.options:hover {
    background-color: grey;
    cursor: pointer;
}

.fd-button {
    background-color: var(--calendarCreateModalCloseBtnBgColor);
    border-radius: 15px;
    color: var(--friendsInviteCol);
    padding: 3px 5px;
    font-size: 12px;
    align-self: flex-end;
    height: fit-content;
    margin-left: 15px
}

.fd-button:hover {
    background-color: grey;
    cursor: pointer;
}

.chat-fd:hover {
    background-color: var(--chatPic);
    cursor: pointer;
}

.reqSent {
    margin-bottom: 10px
}

.hv-request {
    position: absolute;
    background-color: #E14742;
    color: white;
    opacity: 50%;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    right: 20px;
    bottom: 80px;
}

.no-request {
    right: 20px;
    bottom: 80px;
}

/* .bottom-upppppper-right {
    right: 20px;
    bottom: 140px;
} */

.accept-or-decline {
    display: flex;
    flex-wrap: nowrap;
}

.action-button {
    padding: 2px 6px;
    color: white;
    font-size: 8px;
    border-radius: 8px;
    border: 1px solid;
    background-color: var(--fdRequestActionButton);
    margin-left: 2px;
    margin-right: 2px;
}

.accept:hover {
    background-color: var(--fdRequestAcceptHover);
    outline: none;
    cursor: pointer;
}

.decline:hover {
    background-color: var(--fdRequestDeclineHover);
    outline: none;
    cursor: pointer;
}

.showFdsRequest {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
}

.unfriended {
    margin-bottom: 10px;
    font-weight: 700;
}

.chat {
    background-color: lightgrey;
    border-radius: 15px;
    color: var(--friendsInviteCol);
    padding: 3px 5px;
    font-size: 12px;
    align-self: flex-end;
    height: fit-content;
}