<div id="friends">
    <div class="friend-row">
    </div>
</div>

<div id="add-friends" class="hover-btn bottom-right" onclick="showModalAddFds()">
    <i class="fas fa-plus"></i>
</div>
<div id="add-friends" class="hv-request" onclick="showFdRequest()">
    <i class="fas fa-bell"></i>
</div>
<div id="add-friends" class="hover-btn no-request">
    <i class="far fa-bell"></i>
</div>


<div id="myModal-fds" class="modal-create" role="dialog">
    <div class="modal-dialog-create">
        <!-- Modal content-->
        <div class="modal-content-create">
            <div class="modal-header-create">
                <button class="close-modal-fds close-modal" data-dismiss="modal-create">&times;</button>
                <h4 class="modal-title-create">Search</h4>
            </div>
            <div class="modal-body-create">
                    <div class="create-container">
                        <div class="search-user-bar">
                            <!-- <div class="create-page-category">Search</div> -->
                            <div class="button-input-container">
                                <i class="fa fa-search createSearchButton" onclick="searchUsersAndSdFdReq()"></i>
                                <input class="create-input-items input-Fds" type="text" name="create-name"
                                    placeholder="Enter name or email" oninput="searchUsersAndSdFdReq()">
                            </div>
                        </div>

                        <div class="searchFds-results-create">
             
                        </div>
                    </div>
                    
                    <!-- <div class="create-alert">Can't add a friend twice!</div>
                    <button class="create-event" onclick="sdFdRequest()">
                        Add
                    </button> -->
            </div>
        </div>
    </div>
</div>

<div id="myModal-request" class="modal-create" role="dialog">
    <div class="modal-dialog-create">
        <!-- Modal content-->
        <div class="modal-content-create">
            <div class="modal-header-create">
                <button class="close-request-modal close-modal" data-dismiss="modal-create">&times;</button>
                <h4 class="modal-title-create">Request</h4>
            </div>
            <div class="modal-body-create">
                    <div class="create-container-fdReq">
                        <!-- fd request will be displayed here -->

                        <!-- <div class="adder">users</div>
                        <div class="accept-or-decline">
                            <div class="action-button accept">accept</div>
                            <div class="action-button decline">decline</div>
                        </div> -->
                    </div>
                    <div class="create-alert">Can't add a friend twice!</div>
                    <!-- <button class="create-event">
                        Confirm
                    </button> -->
            </div>
        </div>
    </div>
</div>
