body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: fixed;
    overflow: hidden;
    color: var(--mainText);
}

::placeholder {
    font-family: 'Ubuntu', sans-serif;
}

#bottom-panel{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    /* order: -1; */
    background-color: var(--background);
    z-index: 2;
    box-shadow: 0 3px 6px var(--boxShadow);
    position: sticky;
    bottom: 0;
}

#bottom-panel > *{
    color: var(--panelButton);
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.selected {
    color: var(--selected) !important;
}

/* vvvvvv options bar css start*/
#menu {
    background: var(--background);
    position: absolute;
    right: -182px;
    width: 114px;
    padding:64px 32px;
    height: 100%;
    box-shadow: 0 3px 6px var(--boxShadow);
    z-index: 1;
    /* transform: translate(200%, 0px); */
    transition: all 0.75s ease-in-out;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#menu > * {
    margin: 10px 0;
    text-align: right;
    font-size: 14px;
}

#menu > .btn {
    background-color: var(--menuSignOutButton);
    color: var(--menuSignOutText);
    width: 60%;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 5px;
    border: solid var(--boxBorder) 1px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
}

#menu.active{
    /* -webkit-transform: translate(0%, 0px); */
    transform: translate(-182px, 0px);
    transition: all 0.75s ease-in-out;
}

#profile-picture {
    width: 50px;
    border-radius: 50px;
    border: solid 3px var(--profilePicBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#profile-picture > img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    outline: none;
}

#profile-picture > form {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#profile-picture > form > input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* ^^^^^^ options bar css end*/

/* vvvvvv main section css */
#main {
    height: 100%;
    width: 100%;
    z-index: 0;
    scroll-behavior: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.hover-btn {
    position: absolute;
    background-color: var(--hoverButtonBack);
    color: var(--hoverButtonCol);
    opacity: 50%;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.bottom-right {
    right: 20px;
    bottom: 20px;
}

#title-bar {
    height: 40px;
    display: flex;
    box-shadow: 0 -1px 6px var(--boxShadow);
    font-size: 16px;
    background-color: var(--background);
    justify-content: space-between;
    align-items: center;
    /* order: 1; */
    z-index: 2;
}

#title-bar > * {
    margin: 0 20px;
    font-weight: bold;
    color: var(--titleBar);
}
/* ^^^^^^ main section css end */

#option-menu-bottom > * {
    color: var(--nightModeButton);
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

#option-menu-bottom {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

#crop-profile-pic{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#crop-profile-pic.active {
    display: flex;
    z-index: 5;
}



#crop-profile-pic > div{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



#picture-canvas {
    width: 90vw;
}

#picture-canvas > img {
    width: 100%;
}


.container {
    margin: 20px auto;
    max-width: 640px;
}

img {
    max-width: 100%;   
}

.cropper-view-box, .cropper-face {
    border-radius: 50%;
}
/* 
#crop {
    width: 20px;
    height: 20px;
} */

#result {
    
    width: 50%;
}

#crop-title {
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

td {
    max-width: 25px;
    max-height: 25px;
}