.pm-header-container {
    padding: 15px;
    display: flex;
    border-bottom: 1px solid rgba(67, 205, 213, 0.3);
    margin-bottom: 5px;
}

.pm-header-parts {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.pm-pic {
    border-radius: 90px;
    border: solid 2px #43cdd5;
    width: fit-content;
    height: fit-content;
    margin: 0 15px;
}

.pm-pic > img {
    border-radius: 30px;
    width: 30px;
    height: 30px;
}

.pm-name {
    font-weight: bold;
    font-size: 16px;
}

.pm-section-container {
    height: calc(100vh - 185px);
    width: 95%;
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
/*    
    align-items: center;
    overflow-y: scroll; */
    overflow-x: hidden;

}

.private-chat-page {
    background-color: rgba(67, 205, 213, 0.1);
}

.pm-row {
    display: flex;
    height: auto;
    width: fit-content;
    max-width: 80%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 15px;
    background-color: rgba(67, 205, 213);
    color: white;
    border: 1px solid #43cdd5;
    /* float: right; */
    align-self: flex-start;
}

/*要DELLLLLLLLLLLLLLLL*/
.pm-row-self {
    display: flex;
    height: auto;
    width: fit-content;
    max-width: 80%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 15px;
    background-color: teal;
    color: white;
    border: 1px solid #43cdd5;
    /* float: right; */
    align-self: flex-end
}

.pm-time {
    word-wrap: break-word;
    margin-left: 20px;
    font-size: 10px;
}

#pm-form {
    /* width: 100vw; */
    display: flex;
    /* justify-content: center;
    align-items: center;  */
    bottom: 0;
    padding: 5px;
    flex-wrap: nowrap;
}

#pm-form > * {
    border-radius: 30px;
    height: 18px;
    border: 1px solid rgba(67, 205, 213);
    margin: 0 5px;
    outline: none;
    flex-wrap: nowrap;
}

#pm-submit, #pm-submit:hover{
    background-color: rgba(67, 205, 213);
    color: white;
    cursor: pointer;
}

#pm-input {
    width: 90%;
}

.fa-arrow-left:hover {
    cursor: pointer;
}