<div id="private-chat">
    <div class="private-chat-page">
        <div class='pm-header-container'>
            <div class='pm-header-parts'>
                <i class="fas fa-arrow-left"></i>
                <div class="pm-pic">
                    <img src="/pepe.jpg">
                </div>
            </div>
            <div class="pm-header-parts pm-name">
                <div>name</div>
            </div>

        </div>

        <div class="pm-section-container">
            <div class="pm-row">
                <div class="pm-msg">
                   對面SD黎
                </div>
                <div class="pm-time">5:23pm</div>
            </div>

            <div class="pm-row-self">
                <div class="pm-msg">
                   自己msg
                </div>
                <div class="pm-time">5:23pm</div>
            </div>

        </div>
        <form id="pm-form" action="/chat" method="POST">
            <input type="text" name="message" id="pm-input">
            <input type="submit" id="pm-submit" value="Send">
        </form>
    </div>
</div>