<div class="search-main-container">

  <div class="search-container">
    <div class="search-input-and-button">
      <button class="searchButton" onclick="searchByName()">
        <i id="restaurant-search " class="fa fa-search"></i>
      </button>
      <input id="search-input" type="text" name="search-input" placeholder="Enter restaurant name" oninput="searchByName()">

      <div id="advance-search" onclick="showList()">
        Advance
      </div>
      <div class="territory-and-districts no-display">
        <div class="location">
          <div class="oneflex">
            <div class="three-parts">地區</div>
          </div>
          <div>
            <label class="criteria-container">上環
              <input type="checkbox" name="location" value="上環">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">中環
              <input type="checkbox" name="location" value="中環">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">旺角
              <input type="checkbox" name="location" value="旺角">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">尖沙咀
              <input type="checkbox" name="location" value="尖沙咀">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">元朗
              <input type="checkbox" name="location" value="元朗">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">荃灣
              <input type="checkbox" name="location" value="荃灣">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="location">
          <div class="oneflex">
            <div class="three-parts">菜式</div>
          </div>
          <div>
            <label class="criteria-container">日本菜
              <input type="checkbox" name="dish" value="日本菜">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">Cafe
              <input type="checkbox" name="dish" value="Cafe">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">火鍋
              <input type="checkbox" name="dish" value="火鍋">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">酒吧
              <input type="checkbox" name="dish" value="酒吧">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">西式
              <input type="checkbox" name="dish" value="西式">
              <span class="checkmark"></span>
            </label>
            <label class="criteria-container">海鮮
              <input type="checkbox" name="dish" value="海鮮">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <button class="submit-button no-display" onclick="searchByLocation()">Search</button>

      </div>
    </div>

    <!-- Modal -->
    <div id="myModal-search" class="modal-search" role="dialog">
      <div class="modal-dialog-search">
        <!-- Modal content-->
        <div class="modal-content-search">
          <div class="modal-header-search">
            <button type="button" class="close-modal-search" data-dismiss="modal-search">&times;</button>
            <h4 class="modal-title-search">Create Event</h4>
          </div>
          <div class="modal-body-search">
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
            <p>should be a map here</p>
          </div>
        </div>
      </div>
    </div>

    <div id="search-results">
      <!-- search result will be displayed here -->
    </div>
  </div>

</div>