.search-container {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    flex: 2;
    overflow: auto;
    height: calc(100vh - 80px)
}

.search-main-container {
    display: flex;
    flex-wrap: nowrap;
}

.result-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border: 1px solid var(--resultContainer);
    padding: 15px;
    border-radius: 15px;
}

.fa-map-marker-alt {
    color: var(--resultText);
}

.result-name {
    flex: 2;
    font-size: 12px;
    font-weight: 600;
    color: var(--resultText);
}

.result-address {
    flex: 3;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--resultText);
}

#search-input {
    color: var(--mainText);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--resultInput);
    padding: 5px;
    height: 20px;
    outline: none;
    margin: 5px, 2.5px, 5px, 2.5px;
}

input#search-input {
    background-color: var(--searchInput);
}

.searchButton {
    width: 40px;
    height: 36px;
    border: none;
    background:none;
    text-align: center;
    color: var(--resultInput);
    cursor: pointer;
    font-size: 20px;
    outline: none;
    margin: 5px, 2.5px, 5px, 2.5px;
}

.search-input-and-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 374px;
}


/* check box CSS*/
#checkboxes-for-search {
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 55%;
    justify-content: flex-start;
}

.territory-and-districts {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.oneflex {
    flex: 1
}

.location {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.criteria-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.three-parts {
    text-align: center;
    padding-bottom: 6px;
    font-size: 10px;
}

.criteria-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 11.5px;
  height: 12px;
  width: 12px;
  background-color: var(--checkmark);
  border-radius: 50%;
}

.criteria-container:hover input ~ .checkmark {
  background-color: var(--checkmarkhover);
}

.criteria-container input:checked ~ .checkmark {
  background-color:  var(--checkmarkConfirmed);
}

#search-results {
    margin: 30px;
    width: 374px;
}

.search-result {
    font-size: 6px;
    font-weight: 600;
} 

/* .result-address {
    margin-left: 5px;
}  */

.no-display {
    display: none;
}

.submit-button {
    padding: 2px;
    background-color:var(--searchSubmit);
    color: var(--searchSubmitText);
    outline: none;
    border-color: transparent;
    border-radius: 5px;
    align-self: flex-end;
    height: 30px;
    font-size: 6px;
}

#advance-search {
    margin: 5px;
    padding: 5px;
    background-color: var(--searchSubmit);
    color: var(--searchSubmitText);
    border-radius: 5px;
    font-size: 6px;
}

.fa-map-marker-alt:hover {
    cursor: pointer;
}


/* modalmodalmodalmodalmodalmodalmodal */
.modal-search {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
  }
  
/* Modal Content */
.modal-content-search {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
}

/* The Close Button */
.close-modal-search {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid;
    background-color: lightgrey;
}

.close-modal-search:hover, .close-modal-search:focus {
    background-color: grey;
    outline: none;
    cursor: pointer;
    color: white;
}