/* color reference */
:root {
    --blue: #43CDD5;
    --red: #E14742;
    --white: white;
    --black:black;
    --teal: teal;
    --personal: #629bc4;
    --events: #bb62c4;
    --special: #c48a62;
    --tbc: #6Ac462;
    --lightgrey: lightgrey;
    --eventcontainer: #f0f0f0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--blue);
    display: flex;
    height: 100vh;
    width: 100vw;   
    margin: 0;
    overflow: hidden;
    justify-content: center;
}

::placeholder {
    font-family: 'Ubuntu', sans-serif;
}

#main{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

#main > form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
}

#main > form > div{
    align-self: flex-end;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#main > form > div.error{
    margin: 0;
    align-self: center;
    color:  var(--teal);
    font-size: 14px;
    min-height: 20px;
}

#main > form > *{
    margin: 6px;
}

.input-box{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 20px;
    box-shadow: 3px 2px var(--teal);
}

#main > form > div.btn {
    background-color: var(--red);
    color: var(--white);
    width: 60%;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    outline: none;
    border-radius: 5px;
    border: solid #D6B656 1px;
    height: 30px;
    box-shadow: 3px 2px var(--teal);
    cursor: pointer;
}

.switch-login-create-user {
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
}